extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary
    .container
      h1
        | Search results for
        span.sr-only “cheese”


      +form('javascript:console.log("search submitted")', 'post')
        .input-group
          label.sr-only(for='search_box') Enter a keyword
          input#search_box(maxlength='1000', name='q', pattern='^(?!.*<script|<Script).*$', type='search', value='cheese')
          button(type='submit', class='btn--white', data-tracking='search')
            include ../../icons/search.svg
      p About 1190 results


  section#content(tabindex='0')
    .container
      .status--highlight
        p You are using our new search. We #[+link('https://pds.blog.parliament.uk/2018/01/15/switching-off-our-old-search-service/', 'switched off the old search')(data-tracking="appInsights" data-type="switchingOffOldSearchBlog")] on 19 January 2018.

      ol.list--block
        each object, index in [{url: 'https://www.parliament.uk/edm/2017-19/663', title: 'Early day motion 663 - ROYAL HOSPITAL ... - parliament.uk', hint: 'Beta', hintCount:'1', formatted_url: 'https://www.parliament.uk/edm/2017-19/663', description: 'That this House congratulates The Dairy Council in staging the 2017 Annual Ceremony of the Christmas Cheeses, which forms the beginning of the Chelsea...'}, {url: 'http://www.parliament.uk/edm/2015-16/659', title: 'Early day motion 659 - CHEESE WARS AND ENGLISH STILTON ...', hint: '', hintCount:'', formatted_url: 'www.parliament.uk/edm/2015-16/659', description: 'That this House notes the 250th anniversary of the Cheese Wars that led to rioting in Leicestershire and Derbyshire, which forced local militia forces being...'}, {url: 'https://www.parliament.uk/documents/commons-catering/menus/MenusSpringSummer2017/May-Cheese.pdf', title: 'Cheese Selection - parliament.uk', hint: 'pdf', hintCount:'1', formatted_url: 'https://www.parliament.uk/.../MenusSpringSummer2017/May-Cheese.pdf', description: 'Cheese Selection This May our cheese trolley features a range of cheeses from within the British Isles, with a choice of well-considered accompaniments.'}, {url: 'http://researchbriefings.files.parliament.uk/documents/SN02721/SN02721.pdf', title: 'UK Dairy Industry Statistics', hint: 'pdf', hintCount:'1', formatted_url: 'researchbriefings.files.parliament.uk/documents/SN02721/SN02721.pdf', description: 'cheese, but a positive trade balance in milk and cream. &bull; Farm-gate milk prices for August 2015 were 23.3 pence per litre, ... 9 UK Dairy Industry Statistics . 5.'}, {url: 'http://www.parliament.uk/documents/facilities/Proativepublication-menus/October%202015%20menus/Smoking-Room-Afternoon-Tea-Menu-October-12-2015.pdf', title: 'House of Commons Cheese and - UK Parliament', hint: 'pdf', hintCount:'1', formatted_url: 'www.parliament.uk/documents/facilities/Proativepublication-menus...', description: 'Available 15.00 &ndash; 17.30, Monday to Wednesday Assorted sandwiches &pound;3.50 per round Home-made scone with butter and conserve &pound;2.75 with clotted cream &pound;2.75'}]
          li
            .list--details
              h2
                if object.hintCount !== ''
                  a(data-tracking='appInsights', data-search-result=(index + 1), data-search-hint=object.hint, data-search-hint-count=object.hintCount, href=object.url)= object.title
                else
                  a(data-tracking='appInsights', data-search-result=(index + 1), href=object.url)= object.title
              ul.list--inline
                if object.hint == 'pdf'
                  li.hint.theme--grey-4= object.hint
                if object.hint == 'Beta'
                  li.hint.theme--vibrant--yellow= object.hint
                li.url(data-testable='')= object.formatted_url
              p= object.description


  section
    .container
      nav.navigation--number(aria-label="Pagination")
        each object in [{val: 'Next', class: 'navigation-control--right'}]
          a(data-number-see='true', href='#', class='navigation-control ' + object.class)= object.val

        ol
          each val, index in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
            li(data-number=val, class= (index === 0 ? "active" : undefined))
              if index === 0
                span(data-number-see='true')= val
              else
                a(data-number-see='true', href='#')= val
