//- <button>
mixin button(value, style, datatype, type)
  if type === 'reset'
    button(type=type, class=style, value=value, data-type=datatype)&attributes(attributes)
  else if type === 'submit'
    button(type=type, class=style, value=value, data-type=datatype)&attributes(attributes)
      = value
      include ../icons/loading.svg


mixin buttonLink(link, value, style, datatype)
  +link(link, value)(class=style, data-type=datatype)&attributes(attributes)
    block
