//- <button>
mixin button(value, style, type)
  if type === 'reset'
    button(type=type, class=style, value=value)&attributes(attributes)= value
  else
    button(type='submit', class=style, value=value)&attributes(attributes)
      span.btn--loading__text=value
      span.btn--loading__icon
        figure
          include ../icons/loading.svg


mixin buttonLink(link, value, style)
  +link(link, value)(class=style, download)
