//- <button>
mixin button(value, style, type, datatype)
  button(type=type, class=style, value=value, data-tracking=datatype)&attributes(attributes)= value

mixin buttonLink(link, value, style, datatype)
  +link(link)(class=style, data-tracking=datatype)&attributes(attributes)
    block
    =value
