//- HTML Form Elements


//- <form>
mixin form(action, method)
  form(action=action, method=method)&attributes(attributes)
    block


//- <input>
mixin input(type, label, name, id, datatype, datasize)
  if type === 'checkbox' || type === 'radio'

    - var group_type = name

    if group_type === 'radio-group-inline'
      .input-group__inline
        input(type=type, id=id, name=name)&attributes(attributes)
        label(for=id)= label
    else if group_type === 'radio-group-verbose'
      .input-group__verbose
        input(type=type, id=id, name=name)&attributes(attributes)
        label(for=id)= label
    else
      .input-group
        input(type=type, id=id, name=name)&attributes(attributes)
        label(for=id)= label

  else if type === 'file'
    input(type=type, id=id, name=name, data-file-upload=datatype, data-file-size=datasize)
    label(for=id)&attributes(attributes)= label

  else
    label(for=id)= label
    input(type=type, id=id, name=name)&attributes(attributes)

//- <textarea>
mixin textarea(label, id)
  label(for=id)= label
  textarea(id=id)&attributes(attributes)


//- <select>
mixin select(label, id, name)
  label(for=id)=label
  select(name=name, id=id)
    block


//- <option>
mixin option(value, valueAttrib)
  option(value=valueAttrib||value)&attributes(attributes)= value


//- <optgroup>
mixin optgroup(label)
  optgroup(label=label)
    block


//- <fieldset>
mixin fieldset(legend)
  fieldset
    legend=legend
    block
