//- Links
mixin link(href, name)
  //- Attributes can include rel, role, target, title and tabindex
  a(href=href)&attributes(attributes)= name
    if block
      block

//- Images
mixin image(src, alt)
  //- Attributes can be width, height, srcset, longdesc
  img(src=src alt=alt)&attributes(attributes)

//- Inputs
mixin input(label, id, name, type, maxlength, regex, title)
  label(for=id)= label
  input(id=id, name=name, type=type maxlength=maxlength pattern=regex title=title)


//- List Box
mixin list--box(name, constituency, party, image)
  li
    if image
      figure
        img(src=image)
      .list--details
        h2 #[+link('#', name)]
        if lords_list
          p= 'Member of the ' + constituency
        else
          p= 'MP for ' + constituency
        p= party

    else
      .list--details
        h2 #[+link('#', constituency)]
        p= name

//- List Box Parties
mixin list--box__parties(party, count)
  li
    .column--75
      .list--details
        h2 #[+link('#', party)]
        p= 'All current ' + party + ' MPs'
    .column--25
      .list--details
        p= count
          span MPs

//- List Box Accessible
mixin list--box__accessible(constituency, date)
  li
    .list--details
      if constituency
        h2 #[+link('#', constituency)]
          span.sr-only= 'constituency from ' + date
        p
          span(aria-hidden='true')= date
      else
        h2 #[+link('#', date)]

//- List Box Generic
mixin list--box__generic(heading, content)
  li
    .list--details
      if list_box_h4
        h4 #[+link('#', heading)]
      else if list_box_h3
        h3 #[+link('#', heading)]
      else
        h2 #[+link('#', heading)]
      p= content
      block

//- List Box Inline
mixin list--box__inline(name, count)
  li
    h2 #[+link('#', name)]
    p= '- ' + count + ' MPs'
