nav(class='navigation--number', data-active-tile='6', aria-label='Pagination')

  a(data-number-see='true', href='#', class='navigation-control')= 'Previous'

  ol
    each val, index in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
      li(data-number=val, class= (index === 5 ? 'active' : undefined))
        if index === 5
          span(data-number-see='true')
            span= 'Page '
            span.count=  val
            span= ' of 10'
        else
          a(data-number-see='true', href='#')
            span= 'Page '
            span.count=  val
            span= ' of 10'

  a(data-number-see='true', href='#', class='navigation-control')= 'Next'
