nav(class='navigation--number', data-active-tile='5', aria-label='Pagination')

  a(data-number-see='true', href='#', class='navigation-control')= 'Previous'

  ol
    each val, index in ['1', '2', '3', '4', '5', '6', '7', '8']
      li(data-number=val, class= (index === 4 ? 'active' : undefined))
        if index === 4
          span(data-number-see='true')
            span= 'Page '
            span.count__number=  val
            span= ' of 8'
        else
          a(data-number-see='true', href='#')
            span= 'Page '
            span.count__number=  val
            span= ' of 8'

  a(data-number-see='true', href='#', class='navigation-control')= 'Next'
