doctype html
html(lang="en")
  head
    title= Parliamentary Digital Service
    link(rel="stylesheet", href="../_public/stylesheets/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    block content
    footer
        div(class="row")
          div(class="phase-banner")
            p= Provide
              a(href="#")= feedback
              = to help improve this website
        div(class="ftr")
          div(class="ftr-logo")
            div(class="ftr-lgo-icn")
          p= Parliament.uk
            a(href="#")= digital blog
          p= Visit the
            a(href="#")= current parliament.uk
            = website
          p
            a(href="#")= Cookie Policy
      script(src="../_public/javascripts/main.js")
